.stars{
  color:gold;
}
.back-color{
  background-color:antiquewhite;
}
.btn{
  border:2px solid black;
  border-radius: 20px;
  background-color: antiquewhite;
}


.name{
  text-decoration: midnightblue;
} 

.txt{
  color:rgb(246, 172, 22);
}
.c{
  padding: 10px 10px;
  background-color:darkolivegreen;
}
.html{
  padding: 10px 10px;
  background-color:coral;
}
.css{
  padding: 10px 10px;
  background-color:lightcoral;
}
.css h3,html h3,c h3{
  color:honeydew;
}
.title{
 margin-top: 20px;
  padding: 10px;
  color:coral;
}
.heading{
  color:coral;
}
.foot{
  color:crimson;
  background-color: antiquewhite;
  justify-content: space-between;
  text-align: center;
}
.card{
  box-shadow: 10px 10px 10px rgb(213, 207, 207);
  height: 340px;
  overflow: scroll;
}
.cart{

  /*border:5px solid coral;*/
  background-color: antiquewhite;
  text-shadow:1px 2px lightgray;
  box-shadow: 2px 2px lightgrey;
  height: 730px;
  width:250px;
}
.navbar{

  background-color: lightgray;
  position:fixed;
  height: 3.7em;
  width:100%;
  z-index: 1;

}

.carousel{
  position:relative;
  top:40px;
  height:100;
 
}
.cart{
  position:sticky;
  top:60px;
  height:400px;
  border:5px solid lightgray;
  border-radius: 10px;
  overflow: scroll;
}

.btn:hover{
  background-color: rgb(236, 201, 156);
  font-size: 1.1em;
  text-decoration: underline;
  border:2px solid  rgb(235, 198, 149);
}